@model SocialNetworking_Kata.Data.Models.UserProfile

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">@Model.UserFirstName</h3>
	</div>
	<div class="panel-body">
		@Html.ActionLink("Follow", "Follows", new { id = Model.UserId }) |
		@Html.ActionLink("View TimeLine", "DisplayTimeLine", new { id = Model.UserId }) 
	</div>
</div>
